pySensorbase/Retrieve/sensorbase2.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<wsdl:definitions name='sensorbase'
  targetNamespace='http://sensorbase.org/beta/soap/'
  xmlns:tns='http://sensorbase.org/beta/soap/'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>

<!--
 Messages For SensorBase APIs
-->
<wsdl:message name='getDataSlogRequest'>
  <part name='email' type='xsd:string'/>
  <part name='password' type='xsd:string'/>
  <part name='project_id' type='xsd:string'/>
  <part name='table_name' type='xsd:string'/>
  <part name='xml_str' type='xsd:string'/>
</wsdl:message>
<wsdl:message name='getDataSlogResponse'>
  <part name='Result' type='xsd:string'/>
</wsdl:message>

<wsdl:message name='getDataRequest'>
    <part name='email' type='xsd:string'/>
    <part name='password' type='xsd:string'/>
    <part name='attributes' type='xsd:string'/>
    <part name='tables' type='xsd:string'/>
    <part name='condition' type='xsd:string'/>
    <part name='from' type='xsd:string'/>
    <part name='delta' type='xsd:string'/>
    <part name='format' type='xsd:string'/>
</wsdl:message>
<wsdl:message name='getDataResponse'>
    <part name='Result' type='xsd:string'/>
</wsdl:message>

<!--
Port for SensorBase APIs
-->
<wsdl:portType name='SensorBasePort'>
  <wsdl:operation name='slogDataXML'>
    <wsdl:input message='tns:getDataSlogRequest'/>
    <wsdl:output message='tns:getDataSlogResponse'/>
  </wsdl:operation>
  <wsdl:operation name='getData'>
	<wsdl:input message='tns:getDataRequest'/>
	<wsdl:output message='tns:getDataResponse'/>
  </wsdl:operation>
</wsdl:portType>

<!--
Binding for SensorBase APIs
-->
<wsdl:binding name='SensorBaseBinding' type='tns:SensorBasePort'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='slogDataXML'>
    <soap:operation soapAction='http://sensorbase.org/beta/soap/dataSlog.php'/>
    <wsdl:input>
      <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name='getData'>
  	<soap:operation soapAction='http://sensorbase.org/beta/soap/dataGet.php'/>
  	<wsdl:input>
	  <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
                encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
                encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>

<wsdl:service name='SensorBaseService'>
  <wsdl:port name='SensorBasePort' binding='tns:SensorBaseBinding'>
    <soap:address location='http://sensorbase.org/beta/soap/sensorbase.php'/>
  </wsdl:port>
</wsdl:service>
</wsdl:definitions>